---
layout: default
---
[View PDF Document]({{ site.baseurl }}/assets/pdfs/example_pdf.pdf)

<!-- Or with description -->
<a href="{{ site.baseurl }}/assets/pdfs/example_pdf.pdf">
    View PDF Document
</a>
