---
layout: default
---
<div class="custom-container">
    <h2><object data="{{ site.url }}/assets/pdf/example_pdf.pdf" 
        width="100%" 
        height="500px" 
        type="application/pdf">
    <p>Your browser doesn't support embedded PDFs.</p>
</object></h2>
</div>
